/* Recent Searches */
.recent-section {
    margin-top: 20px;
}

.recent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recent-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.recent-btn {
    padding: 6px 12px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.recent-btn:hover {
    background-color: #45a049;
}

#clearHistoryBtn {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#clearHistoryBtn:hover {
    opacity: 0.8;
}